.banner {
    
    $background-image: url('../images/linoleum.jpg');
    
    width: 40vw;
    height: 30vw;
    min-width: 300px;
    min-height: 220px;
    margin: 1rem;
    position: relative;
    display: block;
    font-size: 2rem;
    color: black;
    background-image: $background-image;
    background-size: cover;
    overflow: hidden;
    
    &__text {
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
    }
    
    &--text-color {
        color: white;
    }
    
    &--text-background &__text {
        background-color: rgba(255, 255, 255, 0.4);
    }
    
    &--image-gradient {
        background-image: linear-gradient(
                rgba(255, 255, 255, 0.4),
                rgba(255, 255, 255, 0.4)
        ), $background-image;
    }
    
    &--text-shadow &__text {
        text-shadow: 0 0 3px white;
    }
    
}